body {
  padding-top: $navbar-height;
  font-family: 'Cabin', sans-serif;
  background-color: #ffffff;
  color: #000;
  background: linear-gradient(hsla(0,0%,100%,0.95), hsla(0,0%,100%,0.95)),
              url(http://localhost:8080/public/assets/hierbas.jpg),
              url(http://localhost:8080/public/assets/platos-arroz.jpg);
  background-position: 0 0, 50% -8%, 50% 90%;
  background-size: contain, 80% auto, 100% auto;
  background-repeat: no-repeat;
}

.line-left {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateX(-100%);
    background-color: #e1e1e1;
    width: 100vw;
    height: 1px;

    @media (min-width: 1500px) {
      width: 160px;
    }
  }
}

.overflow-ellipse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn {
  border-radius: 30px;
  font-size: 14px;
  font-weight: bold;
  padding: 0.575rem 1.25rem;
}

.pl-45, .px-45 { padding-left: 2rem !important; }
.pr-45, .px-45 { padding-right: 2rem !important; }

.pt-6, .py-6 { padding-top: 6rem !important; }
.pb-6, .py-6 { padding-bottom: 6rem !important; }

@media (min-width: 992px) {
  .w-lg-75 {
    width: 75%;
  }
  .w-lg-85 {
    width: 85%;
  }
}

.card-custom {
  overflow: hidden;
  box-shadow: 0 1rem 2.5rem rgba(190, 190, 190, 0.4);

  &, .card-img-top {
    border-radius: 5px;
  }
  .card-title {
    color: $dark;
    font-size: 16px;
    font-weight: bold;
  }
}

.input-number {
  width: 85px;
  min-width: 85px;

  .form-control {
    background-color: #e6e6e6;
    border-radius: 4px !important;
    padding: 0;
    height: 26px;
    font-size: 14px;
    font-weight: bold;
  }

  &-btn {
    background-color: transparent;
    border: none;
    color: #555;
    font-size: 10px;
    text-align: center;
    padding: 5px;
    height: 26px;
    width: 26px;
    transition: color .2s;
    &:hover, &:focus {
      color: $primary;
    }

    i {
      pointer-events: none;
    }
  }
}