
$blue:    #1282b1;
$indigo:  #1baeed;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #f44828;
$orange:  #f68c2b;
$yellow:  #ffc107;
$green:   #46bdb1;
$teal:    #20c997;
$cyan:    #17a2b8;
$blue-dark:#022d40;
$dark:     #333333;

$facebook:  #3c5a9a;
$instagram: #864aa4;
$youtube:   #e64225;
$twitter:   #55aaec;
$linkedin:  #02669d;
$whatsapp:  #51b016;

$primary:       $red;
$success:       $green;
$info:          $cyan;
$warning:       $orange; // $yellow !default
$danger:        $red;

$navbar-height: 74px;
